@import './dashboard.scss';
@import './criaturas.scss';


.profile_box{
    @extend .criaturas_box;
}
.profile_title{
    @extend .criaturas_title;
}
.profile_subtitle{
    @extend .criaturas_subtitle;
}
.profile_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: $color-light;
    scroll-behavior: smooth;
    overflow-y: auto;
    align-items: center;
    @media (min-width: $breakpoint-tablet){
        width: 50%;
    }
}
.textarea{
    color: $color-light;
    height: 100px;
    resize: none;
}
.login_input-label{
    font-size: 0.8rem;
    margin-top: 0;
}
.profile_input{
    width: 50%;
}
