/* Fuente Sedan Sc*/
$font-sedanSc-sans: var(--font-sedanSc-sans);
/* Fuente Sedan */
$font-sedan-sans: var(--font-sedan-sans);
/* Colores primarios */
$color-primary: #9C5CE1;
/* Colores secundarios */
$color-secondary: #C77E01;
/* Colores oscuros */
$color-dark: #222222;
/* Colores claros */
$color-light: #777777;
/* BreakPoint para movil*/
$breakpoint-mobile: 480px;
/* BreakPoint para tablet*/
$breakpoint-tablet: 768px;
/* BreakPoint para desktop*/
$breakpoint-desktop: 1024px;

